/* 
Bagian: Import
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/* 
Bagian: Kerangka Utama
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #297eff;
}

body.swal2-shown > [aria-hidden="true"] {
	filter: blur(3px);
}

body > * {
	transition: 0.1s filter linear;
}

/* 
Bagian: Navigasi
*/
.nav {
	opacity: 0;
	position: absolute;
	top: 30px;
	transition: 0.5s;
}

.nav.aktif {
	opacity: 1;
}

.nav>ul {
	list-style: none;
	display: flex;
}

.nav>ul>li {
	padding: 0 20px;
}

.nav>ul>li>a {
	color: #fff;
	cursor: default;
	text-decoration: none;
}

.nav.aktif>ul>li>a {
	cursor: pointer;
}

/* 
Bagian: Header
*/
.header {
	opacity: 0;
	cursor: default;
	position: absolute;
	color: #fff;
	top: 20%;
	transition: 0.5s;
}
.header > h2,
.header > h3,
.header > h4 {
	text-align: center;
}
.header.aktif {
	cursor: text;
	opacity: 1;
}

/* 
Bagian: Cari Data
*/
.cari {
	position: relative;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 60px;
	transition: 0.5s;
	box-shadow: none;
	overflow: hidden;
	z-index: 1;
}

.cari.aktif {
	width: 360px;
}

.cari .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: #fff;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	cursor: pointer;
}

.cari .icon::before {
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 3px solid #287dfc;
	border-radius: 50%;
	transition: 0.5s;
}

.cari .icon::after {
	content: '';
	position: absolute;
	border: 3px solid #fff;
	width: 3px;
	height: 12px;
	background: #287dfc;
	transform: translateY(-9px);
	transition: 0.5s;
}

.cari.aktif .icon::before {
	transform: translate(-4px, -4px);
}

.cari.aktif .icon::after {
	border: none;
	transform: translate(6px, 6px) rotate(-45deg);
}

.cari .input {
	position: relative;
	width: 300px;
	height: 60px;
	left: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cari .input input {
	position: absolute;
	top: 0;
	left: 0;
	width: 85%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 20px;
	padding: 10px 0;
}

/*
Bagian: Penghapus Input Data
*/
.clear {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	right: 15px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.clear::before {
	content: '';
	position: absolute;
	width: 1px;
	height: 15px;
	background: #666;
	transform: rotate(45deg);
}

.clear::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 15px;
	background: #666;
	transform: rotate(-45deg);
}

/* 
Bagian: Pengiriman Data
*/
.send {
	position: absolute;
	display: flex;
	transition: 0.5s;
}

.send.aktif {
	transform: translateY(60px);
}

.send .btn {
	border: none;
	background: transparent;
	color: #297eff;
	transition: 0.5s;
}

.send.aktif .btn {
	border: 2px solid #fff;
	border-radius: 15px;
	padding: 5px 30px;
	font-weight: 600;
	color: #fff;
	transition: 0.5s;
}

.send.aktif .btn:hover {
	cursor: pointer;
	border: 2px solid #fff;
	background: #fff;
	color: #297eff;
}

/* 
Bagian: Kartu
*/
.cover {
	overflow: hidden;
}
.kartu {
	text-align: left;
}
.kartu::before {
	content: '';
	position: absolute;
	top: -50%;
	left: -20%;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.05), transparent);
	pointer-events: none !important;
}
.kartu > .data-siswa > span,
.kartu > .grup-tag > .data-siswa > span,
.kartu > .grup-tag > .data-siswa > div.star-text
{
	user-select: none;
}
.kartu > h2,
.kartu > .data-siswa > div,
.kartu > .grup-tag > .data-siswa > div:not(.star-text):not(.tngkt-text)
{
	width: fit-content;
	user-select: all;
}
.kartu > .grup-tag > .data-siswa > div.tngkt-text {
	user-select: all;
}
.nisn {
	font-family: 'Share Tech Mono', monospace;
	color: #999;
	outline: none;
	margin: 0 0 0 auto;
	font-size: 1.5em;
}
.tngkt {
	text-align: center;
	margin: 0 2em 0 0;
}
.nm-text {
	text-transform: capitalize !important;
}
.data-siswa {
	padding: 5px 0;
}
.ket {
	color: #333;
	font-family: 'Share Tech Mono', monospace;
}
.ket > i {
	font-size: 17.5px;
}
.star-text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.data-siswa span {
	font-family: 'Share Tech Mono', monospace;
	color: #297eff;
}
.grup-tag {
	width: 100% !important;
	display: flex;
	justify-content: space-between;
}
.logo {
	top: 4.75em;
	right: 4.55em;
	position: absolute;
	width: 70px;
	height: auto;
	display: flex;
}
@media (max-width: 576px) {
	.logo {
		display: none;
	}
	.nisn {
		margin: 0 auto 25px !important;
	}
}

/* 
Bagian: Atribusi
*/
.attr {
	cursor: default;
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 20px;
	color: #fff;
	transition: 0.5s;
}

.attr.aktif {
	cursor: text;
	opacity: 1;
}